body {
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 5%;
  color: lightgray;
  background-color: teal;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #fff;
}

a:hover {
  border-bottom-style: ridge;
}

h1 {
  font-family: 'Baloo Bhaina', sans-serif;
  font-weight: normal;
  color: #fff;
}

h1 {
  align-self: center;
  text-align: center;
}

.author {
  text-align: left;
}

button {
  margin-top: 1.5rem;
  padding: 0.4em 0.6em;
  font-size: 0.875em;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  background-color: lightblue;
  color: steelblue;
  border: 2px solid #fff;
  border-radius: 5px;

  align-self: center;
}

footer {
  align-self: center;
  margin-top: 120px;
  font-size: 0.9rem;
}

@media (min-width: 36em) {

  body {
    padding: 7% 12%;
    background-color: orange;
  }

}

@media (min-width: 48em) {

  body {
    padding: 6% 15%;
    background-color: firebrick;
  }

}

@media (min-width: 60em) {

  body {
    padding: 4% 25%;
    background-color: green;
  }

}
